In [187]:
import pandas as pd
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 380., 24., 24.],
                  "Human": ["M", "F", "M", "F"],
                  "index": [1, 3, 3, 3]})

In [191]:
df["dsdsds"] = [1,2,3,4]

In [195]:
df["ts"] = df["Max Speed"] + df["dsdsds"]

In [197]:
df

   Animal  Max Speed Human  index  dsdsds     ts
0  Falcon      380.0     M      1       1  381.0
1  Falcon      380.0     F      3       2  382.0
2  Parrot       24.0     M      3       3   27.0
3  Parrot       24.0     F      3       4   28.0

In [75]:
df.groupby(["Animal"]).sum()

        Max Speed Human  index
Animal
Falcon      750.0    MF      4
Parrot       50.0    MF      7

In [173]:
dff = df.drop(columns="Human")

In [175]:
ss = dff.groupby(["Animal", "Max Speed"]).count().transpose()

In [177]:
ss

Animal    Falcon Parrot
Max Speed  380.0  24.0
index          2      2

In [207]:
ss["Parrot"]

Max Speed  24.0
index         2

In [181]:
ss["dsdsd"] = ss["Falcon"] + ss["Parrot"]

ValueError: Cannot set a DataFrame with multiple columns to the single column dsdsd

In [210]:
df = pd.DataFrame({
   'Gender' : ['Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male','Male', 'Female','Male', 'Female'],
   'Age' : [41, 49, 37, 33, 27, 32, 59, 30, 38, 36, 35, 29],
   'EducationField': ['Life Sciences', 'Engineering', 'Life Sciences', 'Life Sciences', 'Medical', 'Life Sciences', 'Life Sciences', 'Life Sciences', 'Engineering', 'Medical', 'Life Sciences', 'Life Sciences'],
   'MonthlyIncome': [5993, 5130, 2090, 2909, 3468, 3068, 2670, 2693, 9526, 5237, 2426, 4193]})

In [214]:
df.head()

   Gender  Age EducationField  MonthlyIncome
0  Female   41  Life Sciences           5993
1    Male   49    Engineering           5130
2    Male   37  Life Sciences           2090
3    Male   33  Life Sciences           2909
4    Male   27        Medical           3468

In [218]:
pd.get_dummies(df).shape

(12, 7)

In [234]:
pd.get_dummies(df, drop_first=True).columns

Index(['Age', 'MonthlyIncome', 'Gender_Male', 'EducationField_Life Sciences',
       'EducationField_Medical'],
      dtype='object')

Index(['Age', 'MonthlyIncome', 'Gender_Female', 'Gender_Male',
       'EducationField_Engineering', 'EducationField_Life Sciences',
       'EducationField_Medical'],
      dtype='object')